<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A sample music store.">
    <meta name="author" content="Vaisakh K vaishakhnamboothiri@gmail.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles.css')}}">
   
    <title>Music</title>
</head>
<body>
    <nav class="nav navbar navbar-light">
        <a class="navbar-brand" href="/">Muzik</a>
        <div class="topnav-right">
        {% if session['user_id'] %}
        <a href="home">Home</a>
        <a href="search">Search Song</a>
        <a href="add">Upload Song</a>    
        <a href="logout">Logout</a>
        {% else %}
        <a href="login">Log In</a>
        <a href="register">Register</a>
        {% endif %}
        </div>
      </nav>
    {% block content %}
    {% endblock %}
   
</body>

</html>