{% extends "base.html" %}
{% block content %}
{% if data %}
<section>
    <h1>Enjoy...</h1>
    <div class="row">
        
        {% for card in data%}
        <div class="col-sm-6">
         <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Song Title : {{card[1]}}</h5>
              <h6 class="card-subtitle">Album : {{card[3]}}</h6><br/>
              <h6 class="card-subtitle">Artist : {{card[4]}}</h6><br/>
              <a href="{{card[2]}}" class="btn btn-primary">Go somewhere</a>
              {% if card[5] == session['user_id'] %}
              <form method="POST" action="delete">
                  <input type="hidden" value="{{card[0]}}">
                  <input type="submit" value="Delete" class="btn btn-danger" style="float: right;">
              </form>
            </div>
              {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
</section>
{% else %}
<section>
    <h1>Hi.. Nothing Uploaded Yet </h1>
</section>
{% endif %}
{% endblock %}