{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-success">
        <strong>Success!</strong> {{message}}
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<section>
    <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
            <div class="login_part_form_iner">
                <h3>Welcome Back ! <br> Please Sign in now</h3>
                   
                <form class="row contact_form" action="login" method="post" novalidate="novalidate">
                    <div class="col-md-12 form-group p_star">
                        <input type="text" class="form-control" id="name" name="name" value=""
                            placeholder="Email ID">
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <input type="password" class="form-control" id="password" name="password" value=""
                            placeholder="Password">
                    </div>
                    <div class="col-md-12 form-group text-center">
                        <button type="submit" value="submit" class="btn_3">
                            log in
                        </button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}